certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.24
django-bootstrap-form==3.3
django-debug-toolbar==1.8
django-guardian==1.4.9
idna==2.6
oauthlib==2.0.4
psycopg2==2.7.3.1
PyJWT==1.5.3
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
roman==2.0.0
six==1.11.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
sqlparse==0.2.4
urllib3==1.22
