{% extends "base.html" %}
{% load static %}

{% block title %}
{% if type == 'universe' %}
New Eden
{% else %}
{{ parent.name }}
{% endif %}
{% endblock %}

{% block header %}

<header class="intro-header short {{ type }}">
  <div class="container">
    <div class="intro-message">
        {% if type == 'universe' %}
        {% elif type == 'region' %}
        <h2>
          <a href="{% url 'list_universe' %}">New Eden</a>
        </h2>
        {% elif type == 'constellation' %}
        <h2>
          <a href="{% url 'list_universe' %}">New Eden</a> /
          <a href="{% url 'list_region' parent.region.name %}">{{ parent.region.name }}</a>
        </h2>
        {% endif %}
      <h1>
        {% if type == 'universe' %}
          New Eden
        {% else %}
          {{ parent.name }}
        {% endif %}
      </h1>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}

<section class="content-section-a">
  <div class="container">
    <div class="row">
      {% for i in object_list %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="card">
            {% widthratio i.num_scanned i.num_moons 100 as width %}
            <div class="card-body" style="background: linear-gradient(90deg, #007bff10 {{ width }}%, #00000000 {{ width }}%);">
              {% if type == 'universe' %}
                <h5 class="card-title"><a href="{% url 'list_region' i.name %}">{{i.name}}</a></h5>
              {% elif type == 'region' %}
                <h5 class="card-title"><a href="{% url 'list_constellation' i.name %}">{{i.name}}</a></h5>
              {% elif type == 'constellation' %}
                <h5 class="card-title"><a href="{% url 'list_system' i.name %}">{{i.name}}</a></h5>
              {% endif %}
              <p class="card-text">{{ i.num_scanned }} / {{ i.num_moons }} moons scanned</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
