{% extends "base.html" %}
{% load static %}
{% load result_display %}

{% block title %}{{ moon.planet.system.name }} {{ moon.planet.as_roman }} - Moon {{ moon.number }}{% endblock %}

{% block header %}

<header class="intro-header short moon">
  <div class="container">
    <div class="intro-message">
      <h2>
          <a href="{% url 'list_universe' %}">New Eden</a> /
          <a href="{% url 'list_region' moon.planet.system.constellation.region.name %}">{{ moon.planet.system.constellation.region.name }}</a> /
          <a href="{% url 'list_constellation' moon.planet.system.constellation.name %}">{{ moon.planet.system.constellation.name }}</a>
      </h2>
      <h1>
        <a href="{% url 'list_system' moon.planet.system.name %}">{{ moon.planet.system.name }}</a> {{ moon.planet.as_roman }} - Moon {{ moon.number }}
      </h1>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}

<section class="content-section-a">
  <div class="container">
    <h1>Moon Contents</h1>

    {% if not can_view %}
      <p class="text-muted">Sorry, but you don't have the permissions required to view scan results for this moon.</p>
    {% elif True %}
      <p class="text-muted">No conclusive results have been found for this moon.</p>
    {% else %}
      {% display_scan scan %}
    {% endif %}

  </div>
</section>

<section class="content-section-b">
  <div class="container">
    <h1>Other Scan Results</h1>

    {% if can_view %}
      {% for scan in scans %}
        {% display_scan scan classes="other" %}
      {% empty%}
        <p class="text-muted">No scan results for this moon were found.</p>
      {% endfor %}
    {% else %}
      <p class="text-muted">Sorry, but you don't have the permissions required to view scan results for this moon.</p>
    {% endif %}

  </div>
</section>

<section class="content-section-a">
  <div class="container">
    <h1>Your Scan Result</h1>

    {% if user_scan is not None %}
      {% display_scan user_scan classes="own" %}
    {% else %}
      <p class="text-muted">You haven't submitted any scans for this moon.</p>
    {% endif %}

  </div>
</section>

{% endblock %}
