{% extends "base.html" %}
{% load static %}

{% block title %}{{ moon.planet.system.name }} {{ moon.planet.as_roman }} - Moon {{ moon.number }}{% endblock %}

{% block header %}

<header class="intro-header short moon">
  <div class="container">
    <div class="intro-message">
      <h2>
          <a href="{% url 'list_universe' %}">New Eden</a> /
          <a href="{% url 'list_region' moon.planet.system.constellation.region.name %}">{{ moon.planet.system.constellation.region.name }}</a> /
          <a href="{% url 'list_constellation' moon.planet.system.constellation.name %}">{{ moon.planet.system.constellation.name }}</a>
      </h2>
      <h1>
        <a href="{% url 'list_system' moon.planet.system.name %}">{{ moon.planet.system.name }}</a> {{ moon.planet.as_roman }} - Moon {{ moon.number }}
      </h1>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}

<section class="content-section-a">
  <div class="container">
    <h1>Moon Contents</h1>

    {% if can_view %}
    {% for scan in scans %}
    <div class="progress result-progress-bar" style="width: 100%;">
      {% for ore in scan.constituents.all %}
      <div class="progress-bar ore-{{ ore.ore }}" role="progressbar" style="width: {{ ore.get_percentage }}%">
        <span>{{ ore.get_ore_display }} ({{ ore.get_percentage | floatformat }}%)</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">Sorry, but you don't have the permissions required to view scan results for this moon.</p>
    {% endif %}

  </div>
</section>

<section class="content-section-b">
  <div class="container">
    <h1>Moon Information</h1>

    {% if can_view %}
    {% for scan in scans %}
    <div class="progress result-progress-bar" style="width: 100%;">
      {% for ore in scan.constituents.all %}
      <div class="progress-bar ore-{{ ore.ore }}" role="progressbar" style="width: {{ ore.get_percentage }}%">
        <span>{{ ore.get_ore_display }} ({{ ore.get_percentage | floatformat }}%)</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">Sorry, but you don't have the permissions required to view scan results for this moon.</p>
    {% endif %}

  </div>
</section>

<section class="content-section-a">
  <div class="container">
    <h1>Your Scan Result</h1>

    {% if can_view %}
    {% for scan in scans %}
    <div class="progress result-progress-bar" style="width: 100%;">
      {% for ore in scan.constituents.all %}
      <div class="progress-bar ore-{{ ore.ore }}" role="progressbar" style="width: {{ ore.get_percentage }}%">
        <span>{{ ore.get_ore_display }} ({{ ore.get_percentage | floatformat }}%)</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">Sorry, but you don't have the permissions required to view scan results for this moon.</p>
    {% endif %}

  </div>
</section>

{% endblock %}
