{% extends "moon_tracker/system_page.html" %}
{% load static %}

{% block content %}

<section class="content-section-a">
  <div class="container">
    <div class="card-columns planet-grid" style="column-count: 2;">
      {% for p in parent.planets.all %}
        {% if p.moons.count > 0 %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Planet {{ p.as_roman }}</h5>
            </div>
            <div class="list-group list-group-flush">
              {% for m in p.moons.all %}
                <a href="{% url 'moon_detail' parent.name p.number m.number %}" class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-9">
                    Moon {{ m.number }}
                    </div>
                    <div class="col-3 text-right">
                    {% if m.id in mineral_dict %}
                      <i class="fa fa-check" aria-hidden="true"></i>
                    {% endif %}
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
