{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - ELMO</title>

    <link rel="icon" href="{% static 'img/moon.png' %}" type="image/x-icon"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static "css/elmo.css" %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">EVE Lunar Mining Organiser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_universe' %}">Moons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search' %}">Search</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'batch_submit' %}">Submit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">{{ user.get_full_name }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'social:begin' 'eveonline' %}">Log in</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="nav-padding">
    </div>

    {% block header %}{% endblock %}

    {% if messages %}
    <section class="content-section-a">
      <div class="container">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <p>Fork us on <a href="https://github.com/StephenSwat/eve_lunar_mining_organiser">Github</a></p>
        <p class="copyright text-muted small">All EVE related materials are property of CCP Games.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    {% block js %}{% endblock %}

  </body>

</html>
