{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<header style="background-image: url({% static "img/moonchunk.jpg" %});" class="intro-header" >
  <div class="container">
    <div class="intro-message">
      <h1>ELMO</h1>
      <h3>An EVE Online app for moon mining</h3>
    </div>
  </div>
</header>

<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <h2 class="section-heading">Crowdsourced Moon Analysis</h2>
        <p class="lead">
          Harness the collective scanning power of your entire alliance. Using
          fine-grained permissions you can allow your alliance members to submit
          results while not necessarily being able to view the scans of others.
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="{% static 'img/analysis.png' %}" alt="">
      </div>
    </div>
  </div>
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <h2 class="section-heading">Coordinate Mining Activities</h2>
        <p class="lead">
          Keep track of when your next mining fleet will have to be using the
          moon mining timerboard. Gain insight in the minerals and products you
          will gain from mining certain moons.
        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="{% static 'img/mining.png' %}" alt="">
      </div>
    </div>

  </div>

</section>

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <h2 class="section-heading">It's 100% Open Source</h2>
        <p class="lead">
          Since ELMO is under the MIT license you are free to change the source
          code however you want to fit your needs. You can also host your own
          instance of ELMO to avoid your precious scanning results from falling
          in the wrong hands!
        </p>
      </div>
      <div class="col-lg-5 mr-auto" style="text-align: center;">
        <img class="img-fluid" src="{% static 'img/open_source.png' %}" alt="" style="max-height: 250px;">
      </div>
    </div>

  </div>

</section>

{% endblock %}
